/* web/static/css/help.css */
.faq-item .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.faq-item.active .faq-answer {
    max-height: 500px; /* Or a sufficiently large value */
    transition: max-height 0.5s ease-in;
}

.faq-item.active .faq-question i {
    transform: rotate(180deg);
}